In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
bakery=pd.read_csv("Bakery Sales.csv")

In [3]:
bakery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2421 non-null   object
 1   day of week         2420 non-null   object
 2   total               2420 non-null   float64
 3   place               2166 non-null   object
 4   angbutter           1973 non-null   float64
 5   plain bread         857 non-null    float64
 6   jam                 220 non-null    float64
 7   americano           412 non-null    float64
 8   croissant           747 non-null    float64
 9   caffe latte         193 non-null    float64
 10  tiramisu croissant  779 non-null    float64
 11  cacao deep          323 non-null    float64
 12  pain au chocolat    587 non-null    float64
 13  almond croissant    202 non-null    float64
 14  croque monsieur     0 non-null      float64
 15  mad garlic          0 non-null      float64
 16  milk tea            137 non-null    float64
 17  gateau chocolat     196 non-null    float64
 18  pandoro             343 non-null    float64
 19  cheese cake         90 non-null     float64
 20  lemon ade           35 non-null     float64
 21  orange pound        519 non-null    float64
 22  wiener              355 non-null    float64
 23  vanila latte        209 non-null    float64
 24  berry ade           54 non-null     float64
 25  tiramisu            7 non-null      float64
 26  merinque cookies    47 non-null     float64
dtypes: float64(24), object(3)
memory usage: 560.0+ KB

In [4]:
bakery

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2653,2020-06-18 14:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bakery.isna().sum()

datetime               233
day of week            234
total                  234
place                  488
angbutter              681
plain bread           1797
jam                   2434
americano             2242
croissant             1907
caffe latte           2461
tiramisu croissant    1875
cacao deep            2331
pain au chocolat      2067
almond croissant      2452
croque monsieur       2654
mad garlic            2654
milk tea              2517
gateau chocolat       2458
pandoro               2311
cheese cake           2564
lemon ade             2619
orange pound          2135
wiener                2299
vanila latte          2445
berry ade             2600
tiramisu              2647
merinque cookies      2607
dtype: int64

In [6]:
bakery.replace(np.nan,0,inplace=True)

In [7]:
bakery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2654 non-null   object
 1   day of week         2654 non-null   object
 2   total               2654 non-null   float64
 3   place               2654 non-null   object
 4   angbutter           2654 non-null   float64
 5   plain bread         2654 non-null   float64
 6   jam                 2654 non-null   float64
 7   americano           2654 non-null   float64
 8   croissant           2654 non-null   float64
 9   caffe latte         2654 non-null   float64
 10  tiramisu croissant  2654 non-null   float64
 11  cacao deep          2654 non-null   float64
 12  pain au chocolat    2654 non-null   float64
 13  almond croissant    2654 non-null   float64
 14  croque monsieur     2654 non-null   float64
 15  mad garlic          2654 non-null   float64
 16  milk tea            2654 non-null   float64
 17  gateau chocolat     2654 non-null   float64
 18  pandoro             2654 non-null   float64
 19  cheese cake         2654 non-null   float64
 20  lemon ade           2654 non-null   float64
 21  orange pound        2654 non-null   float64
 22  wiener              2654 non-null   float64
 23  vanila latte        2654 non-null   float64
 24  berry ade           2654 non-null   float64
 25  tiramisu            2654 non-null   float64
 26  merinque cookies    2654 non-null   float64
dtypes: float64(24), object(3)
memory usage: 560.0+ KB

In [8]:
bakery.rename(columns={"jam" :"matcha cookies"},inplace=True)
bakery

,datetime,day of week,total,place,angbutter,plain bread,matcha cookies,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2019-07-11 16:10,Thur,15800.0,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2019-07-12 11:49,Fri,58000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019-07-13 13:19,Sat,14800.0,0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2019-07-13 13:22,Sat,15600.0,0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2650,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2651,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2652,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2653,2020-06-18 14:52,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
bakery['date']=pd.to_datetime(bakery['datetime'])
bakery.drop('datetime',axis=1,inplace=True)

bakery['dates']=bakery['date'].dt.strftime("%Y-%m")
bakery['month']=bakery['date'].dt.month
bakery['day']=bakery['date'].dt.day
bakery['hour']=bakery['date'].dt.hour

bakery.sample()

,day of week,total,place,angbutter,plain bread,matcha cookies,americano,croissant,caffe latte,tiramisu croissant,...,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,dates,month,day,hour
1878,Mon,33600.0,퇴계동,2.0,2.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2020-03-02 13:32:00,2020-03,3,2,13

In [10]:
bakery.head()

,day of week,total,place,angbutter,plain bread,matcha cookies,americano,croissant,caffe latte,tiramisu croissant,...,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,dates,month,day,hour
0,Thur,23800.0,0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,...,0.0,1.0,0.0,0.0,0.0,2019-07-11 15:35:00,2019-07,7,11,15
1,Thur,15800.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2019-07-11 16:10:00,2019-07,7,11,16
2,Fri,58000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,2019-07-12 11:49:00,2019-07,7,12,11
3,Sat,14800.0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2019-07-13 13:19:00,2019-07,7,13,13
4,Sat,15600.0,0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2019-07-13 13:22:00,2019-07,7,13,13

In [11]:
bakery.to_csv('bakery menu.csv', index = False)